apiVersion: authorization.openshift.io/v1
kind: ClusterRoleBinding
metadata:
  name: cron-runner
roleRef:
  name: cluster-admin 
subjects:
- kind: ServiceAccount
  name: cron-runner
  namespace: "{{ NAMESPACE }}"
