apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: prune-builds
  namespace: "{{ NAMESPACE }}"
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  schedule: "{{ BUILDS_SCHEDULE }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: prune-builds
            image: {{ IMAGE_REGISTRY }}/openshift3/ose-cli
            command:
            - /bin/bash
            - -c
            - |
              #/bin/bash
              oc adm prune builds --orphans --keep-complete={{ BUILDS_KEEP_COMPLETE }} --keep-failed={{ BUILDS_KEEP_FAILED }} --keep-younger-than={{ BUILDS_KEEP_YOUNGER_THAN }} --confirm
            imagePullPolicy: IfNotPresent
            env:
            - name: HOME
              value: "/tmp"
          restartPolicy: OnFailure
          serviceAccountName: cron-runner
