apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: prune-images
  namespace: "{{ NAMESPACE }}"
spec:
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  schedule: "45 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: prune-images
            image: {{ IMAGE_REGISTRY }}/openshift3/ose-cli
            command:
            - /bin/bash
            - -c
            - |
              #/bin/bash
              oc adm prune images --keep-tag-revisions=3 --keep-younger-than=60m --confirm
              oc adm prune images --prune-over-size-limit --confirm
            imagePullPolicy: IfNotPresent
            env:
            - name: HOME
              value: "/tmp"
          restartPolicy: OnFailure
          serviceAccountName: cron-runner
